@*@page
@model ShopApp.WebUI.Views.Shared._headerModel
@{
}
*@

<header>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Shop App</h1>
			<p class="lead">lorem ipsum</p>
		</div>
	</div>
</header>