@*@page
@model ShopApp.WebUI.Views.Shared._navbarModel
@{
}*@

<div class="navbar bg-danger navbar-dark navbar-expand-sm">
	<div class="container">
		<a href="/" class="navbar-brand">Shopapp</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a asp-controller="shop" asp-action="list" class="nav-link">Products</a>
			</li>
			<li class="nav-item">
				<a asp-controller="" asp-action="" class="nav-link">Cart</a>
			</li>
			<li class="nav-item">
				<a asp-controller="" asp-action="" class="nav-link">Orders</a>
			</li>
			<li class="nav-item">
				<a asp-controller="admin" asp-action="createproduct" class="nav-link">Add Product</a>
			</li>
			<li class="nav-item">
				<a asp-controller="admin" asp-action="productlist" class="nav-link">Admin Products</a>
			</li>
		</ul>

		<form action="/product/list" class="d-flex">
			@*name="q" so the controller list method will take a parameter q to get the search value*@
			<input name="q" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-light" type="submit">Search</button>
		</form>
	</div>
</div>
