@*@page
@model ShopApp.WebUI.Views.Shared._productModel
@{
}
*@


@model Product

<div class="card mb-2">
	<img class="card-img-top" src="~/images/@Model.ImageUrl" alt="">
	<div class="card-body">
		<h5 class="card-title">@Model.Name</h5>
		<small class="text-muted">
			<i>DKK</i> @Model.Price
		</small>
	</div>
	<div class="card-footer text-center">
		<a asp-controller="shop" asp-action="details" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Details</a>
		<a asp-controller="shop" asp-action="addtocart" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Add to cart</a>
	</div>

</div>