@*@page
@model ShopApp.WebUI.Views.Shared._productModel
@{
}
*@


@model Product

<div class="card">
	<img class="card-img-top" src="https://purepng.com/public/uploads/large/purepng.com-apple-iphone-xappleapple-iphonephonesmartphonemobile-devicetouch-screeniphone-xiphone-10electronicsobjects-251530689596wod8s.png" alt="">
	<div class="card-body">
		<h5 class="card-title">@Model.Name</h5>
		<p class="card-text">@Model.Description</p>
		<a href="" class="btn btn-primary">Review</a>
	</div>
</div>