@*@page
@model ShopApp.WebUI.Models.Product
@{
}*@
@model Product
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Product</title>
</head>
<body>
	<p>product name: @Model.Name</p>
	<p>product price: @Model.Price</p>
	<p>product description: @Model.Description</p>
</body>
</html>