@*@page
@model ShopApp.WebUI.Views.Product.IndexModel
@{
}*@


<div class="row">
	<div class="col-md-3">
		@*Categories will be here*@
		@await Component.InvokeAsync("Categories")
	</div>
	<div class="col-md-9">
		Product Index
	</div>
</div>
