@*@page
@model ShopApp.WebUI.Views.Product.ListModel
@{
}*@
@model ProductListViewModel

@{
	var popularClass = Model.Products.Count() > 1 ? "popular" : ""; // applies to a style
	var products = Model.Products; // declaring variables to be used in html
}

@section Categories
{
	@await Component.InvokeAsync("Categories")
}

@if (products.Count == 0)
{
	@await Html.PartialAsync("_noproduct")
}
else
{
	<div class="row">
		@foreach (var product in products)
		{
			<div class="col-md-4">
				@await Html.PartialAsync("_product", product)
			</div>
		}
	</div>
}